.debug{
border: 1px solid black;
min-height: 100px;
}

:root{
    --blue: #006cfa;
    --green: #00e165;
    --white: #fff;
}


.box{
    background-color: var(--blue);
    color: var(--white);
    text-align: center;

    min-height: 50px;
    line-height: 50px;
    padding: 15px;
    
    border: 1px solid #fff;
}
.green{
    background-color: var(--green);
    border-color: var(--blue);
}
